$( document ).ready(function() {

  app.draw = draw
  app.visualisations = {}

  function draw (obj) {
    app.dataviz = new Viz(obj)
    app.dataviz.init()
  }

  app.visualisations.samsung = {
    'name': 'samsung',
    'dataset': <%= data.samsung.to_json %>,
    'floors': 11,
  }

  app.visualisations.samsung_onboarding = {
    'name': 'samsung_onboarding',
    'dataset': <%= data.samsung_onboarding.to_json %>,
    'floors': 70,
  }

  app.visualisations.samsung_settings = {
    'name': 'samsung_settings',
    'dataset': <%= data.samsung_settings.to_json %>,
    'floors': 2,
  }

  _.forEach(app.visualisations, function(value, key) {
    var name = value.name.replace(/_/g,"<br>")
    $(".visualisations").append('<div class="btn" id="' + value.name + '">' + name + '</div>')
    $("#" + value.name).on("click", function(){
      app.draw(app.visualisations[value.name])
    })
  })

  app.draw(app.visualisations.samsung_settings)

});
