
.header
  min-height: 3rem
  width: 100%
  padding: 1rem
  .buttons
    .image
      background-color: lightblue
      padding: .5rem
      margin: 0 1rem
      cursor: pointer
    .svg
      background-color: pink
      padding: .5rem
      cursor: pointer
