svg
  // background-color: red

.header
  min-height: 3rem
  width: 100%
  padding: 1rem
  .export
    background-color: orange
    padding: .5rem

.node
  cursor: pointer

.node circle
  fill: #fff
  stroke: steelblue
  stroke-width: 1.5px

.node text
  font: 10px sans-serif

.link
  fill: none
  stroke: #ccc
  stroke-width: 1.5px
