<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <title>android-flow</title>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :main %>
  </head>
  <body class="<%= page_classes %>">
    <%= yield %>
  </body>
</html>
